.screen {
  display: grid;
  justify-content: center;
  background-color: #ca7474;
}
text[style="ToolTip1_red"] {
  color: red;
  font-weight: bold;
}
text[style="ToolTip1_blue"] {
  color: blue;
  font-weight: bold;
}
text[style="SkillToolTip_Purple"] {
  color: purple;
  font-weight: bold;
}
text[style="SkillToolTip_Orange"] {
  color: orange;
  font-weight: bold;
}
.cock {
  color: orange;
  font-weight: bold;
}
.tag-red {
  color: red;
}
.tag-blue {
  color: blue;
}
.main-contianer {
  max-width: 1000px;
  padding: 5px;
  color: #fff;
}
.skill-contianer {
  background-color: #222;
  padding: 10px;
  border-radius: 5px;
}
.skill-head {
  padding: 5px;
  border-radius: 5px;
  display: flex;
}
.skill-head img {
  width: 50px;
  height: auto;
  border-radius: 5px;
}
.skill-name {
  padding-left: 10px;
  font-weight: bold;
}
.skill-title {
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
}
.tag {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #666;
  display: flex;
  padding: 1px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.skill-upgrade {
  background-color: #567760;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.skill-upgrade-name {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #4aaf8d;
  display: flex;
  border-radius: 5px;
  padding: 1px;
  padding-left: 10px;
  margin-bottom: 5px;
}
.star-upgrade {
  background-color: #765677;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.star-upgrade-name {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #af4aa7;
  display: flex;
  border-radius: 5px;
  padding: 1px;
  padding-left: 10px;
  margin-bottom: 5px;
}
